.text-center {
	text-align: center;
}
.ptp-7 {
	padding-top: 7%;
}

.ptp-14 {
	padding-top: 14%;
}

.pd-4{
	padding: 4%;
}

.ptp-3{
	padding-top: 3%;
}

.text-color{
	color: white;
}

.mg-0{
	margin: 0;
}

.pd-0{
	padding: 0;
}

.rs-row{
	padding: 2%;
	margin: 0% 10%;
}

.rs-img{
	width: 60%;

	img{
		width: 100%;
	}
}

.rs-texto{
	margin: 0% 12%;
	font-family: "Lato-Light";
}